<div class="header">
  <div class="nav-title">
    <a>
      <img src="../assets/images/sprite_image.svg#svgView(viewBox(125, 100, 17, 13))" class="nav-bar" alt="Nav Bar" />
    </a>

    <div class="active-title">
      <img src="../assets/images/sprite_image.svg#svgView(viewBox(0, 101, 19, 18))" class="project" alt="Add Icon" />
      <h1>Kanban Desk</h1>
    </div>
  </div>

  <div class="user-actions">
    <div class="search">
      <img src="../assets/images/sprite_image.svg#svgView(viewBox(243.23, 101, 21, 18))" alt="Search Icon" class="search-icon" />
      <input type="text" placeholder="Search for task and etc." class="search-input" />
    </div>

    <img src="../assets/images/sprite_image.svg#svgView(viewBox(213, 100, 19, 19))" class="messages-icon" alt="Messages Icon" />

    <img src="../assets/images/sprite_image.svg#svgView(viewBox(184, 98, 19, 20))" class="notification-icon" alt="Notifications Icon" />

    <img src="../assets/images/sprite_image.svg#svgView(viewBox(155, 98, 19, 18))" class="chat-icon" alt="Chat Icon" />

    <img src="../assets/images/sprite_image.svg#svgView(viewBox(160, 0, 36, 36))" class="logged-in-user" alt="User Photo" />
  </div>
</div>
