.create-card {
  background-color: #F8FAFB;
  border-radius: 4px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #778CA2;
  border: none;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: #f4f4f5;
    color: #788ca0;
  }
}

.close-modal {
  font-size: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  &:hover {
    text-decoration: underline;
    font-weight: 500;
  }
}
