<h1 mat-dialog-title>Add a card</h1>

<div mat-dialog-content>
  <div class="error" *ngIf="showError">
    All fills are required
  </div>
  <div>
    <label>Task name:</label>
    <input type="text" placeholder="Enter task name" [(ngModel)]="taskName" />
  </div>

  <div>
    <label>Storypoints:</label>
    <input type="text" placeholder="Enter storypoints" [(ngModel)]="storyPoints" />
  </div>

  <div>
    <label>Deadline:</label>
    <span>
      <input class="date-picker" matInput [matDatepicker]="picker" [(ngModel)]="deadlineDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </span>
  </div>
</div>

<mat-dialog-actions>
  <button class="create-card" type="button" (click)="createCard(taskName, storyPoints, deadlineDate)">Create card</button>
  <a class="close-modal" (click)="closeDialog()" mat-dialog-close>Close</a>
</mat-dialog-actions>
