<div class="ioTask-logo">
  <img src="../assets/images/sprite_image.svg#svgView(viewBox(0, 130, 70, 20))" class="logo" alt="ioTask Logo" />
</div>

<ul class="section-list">
  <li>
    <a>
      <img src="../assets/images/sprite_image.svg#svgView(viewBox(0.75, 60.5, 17, 17))" class="dashboard" alt="Dashboard" />
      Dashboard
    </a>
  </li>
  <li>
    <a>
      <img src="../assets/images/sprite_image.svg#svgView(viewBox(29, 61, 18, 16))" class="projects" alt="Project" />
      Projects
    </a>
  </li>
  <li>
    <a>
      <img src="../assets/images/sprite_image.svg#svgView(viewBox(56, 60, 17, 17))" class="tasks" alt="Tasks" />
      Tasks
    </a>
  </li>
  <li class="active">
    <a>
      <img src="../assets/images/sprite_image.svg#svgView(viewBox(111, 60.5, 17, 17))" class="kanban-desk" alt="Kanban Desk" />
      Kanban Desk
    </a>
  </li>
  <li>
    <a>
      <img src="../assets/images/sprite_image.svg#svgView(viewBox(134, 60.5, 17, 17))" class="calendar" alt="calendar" />
      Calendar
    </a>
  </li>
  <li>
    <a>
      <img src="../assets/images/sprite_image.svg#svgView(viewBox(161, 60.5, 18, 17))" class="contacts" alt="contacts" />
      Contacts
    </a>
  </li>
  <li>
    <a>
      <img src="../assets/images/sprite_image.svg#svgView(viewBox(189, 60.5, 17, 18))" class="ui-kit" alt="UI kit" />
      UI Kit
    </a>
  </li>
</ul>

<div>
  <div class="projects">
    <p>Projects</p>
    <p class="add-project">
      <img src="../assets/images/sprite_image.svg#svgView(viewBox(0, 101, 19, 18))" class="add-project-image" alt="Add Icon" />
      Add
    </p>
  </div>

  <ul class="project-list">
    <li class="pages-redesign">
      <a>IOTASK pages redesign</a>
    </li>
    <li class="html-markup">
      <a>IOTASK html5 markup</a>
    </li>
    <li class="blocks-design">
      <a>IOTASK promo blocks design</a>
    </li>
    <li>
      <a>5 More projects</a>
    </li>
  </ul>
</div>
