.ioTask-logo {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  .logo {
    width: 73px;
    height: 20px;
  }
}
.section-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  .active {
    background: #F8FAFB;
    font-weight: 500;
    margin: 0 -20px;
    padding: 15px 20px 15px 30px;
    border-left: 4px solid #4D7CFE;
    color: #252631;
    cursor: text;
  }
  li {
    text-transform: uppercase;
    padding: 10px 20px 10px 16px;
    cursor: pointer;
    margin: 5px 0;
    img {
      width: 17px;
      height: 17px;
      padding-right: 18px;
    }
  }
}
.projects {
  display: flex;
  justify-content: space-between;
  .add-project {
    displaY: flex;
    align-content: center;
  }
  .add-project-image {
    width: 18px;
    height: 18px;
    padding-right: 3px;
    transform: scale(0.85);
  }
}
.project-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  li {
    margin: 0 -20px;
    padding: 15px 20px 15px 30px;
    text-transform: capitalize;
    &.pages-redesign {
      border-left: 4px solid #4D7CFE;
    }
    &.html-markup {
      border-left: 4px solid #FE4D97;
    }
    &.blocks-design {
      border-left: 4px solid #6DD230;
    }
  }
}
